<h3><%=@material.material_name%> is the most common material used in projects</h3>

<p>Tools Used in Projects:</p>
<ul>
  <%@tools.each do |tool|%>
    <li><%=link_to tool.material_name, material_path(tool)%></li>
  <%end%>    
</ul>


<p>Raw Materials Used in Projects:</p>
<ul>
  <%@raw_materials.each do |raw_material|%>
    <li><%=link_to raw_material.material_name, material_path(raw_material)%></li>
  <%end%>
</ul>


